@import url('https://rsms.me/inter/inter.css');

@mixin scroll {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(191, 199, 213, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(191, 199, 213, 0.2);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(191, 199, 213, 0.4);
  }

  &::-webkit-scrollbar-thumb:active {
    background: rgb(191, 199, 213);
  }
}

body {
  margin: 0;
  background: #ccccff;
}

#root {
  position: relative;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 50px 100px 50px;
  font-family: 'Inter', sans-serif;

  @media (max-width: 480px) {
    padding: 20px 20px 80px 20px;
  }
}

main {
  margin-top: 25px;

  @media (max-width: 480px) {
    margin-top: 15px;
  }
}

img {
  margin: 0 auto;
  display: block;
}

figure {
  margin: 16px 40px;
  font-size: 0px;
}

p {
  margin: 0;
}

pre {
  @include scroll;

  padding: 0;
  margin: 0;
  color: rgb(191, 199, 213);
  background-color: rgb(41, 45, 62);
  overflow-x: auto;
  overflow-y: hidden;

  &.public-DraftStyleDefault-pre {
    background-color: transparent;
  }

  &.code-block {
    &__start {
      padding-top: 16px;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      counter-reset: code;
    }

    &__end {
      padding-bottom: 16px;
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
    }
  }

  div {
    display: contents;
  }

  code,
  span span {
    padding: 16px;

    &::before {
      counter-increment: code;
      content: counter(code) '  ';
    }
  }
}

.announcement {
  text-align: center;
}

.item-type {
  margin-top: 0;
  text-align: end;
}

.hidden {
  visibility: hidden;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.mt-8 {
  margin-top: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}
