.layout {
  &__add-button {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 100;

    @media (max-width: 480px) {
      bottom: 10px;
      right: 10px;
    }
    
    // ios hack
    @media not all and (min-resolution:.001dpcm) { 
      @supports (-webkit-appearance:none) {
        span {
          position: relative;
          top: -3px;
        }
      }
    }
  }
}
